
main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sellingImg {
    height: 200px;
}

button {
    margin-left: 10px;
}

#instruments-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

.box {
    border: 1px hsla(55, 26%, 18%, 1) solid;
    background-color: hsla(340, 85%, 16%, .2);
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: ;
}

.banner {
    color:burlywood;
    font-size: 50px
    
}
