
main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header.div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.sellingImg {
    height: 300px;
}

button {
    margin-left: 10px;
}

#instruments {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

.box {
    border: 1px black solid;
    background-color: hsla(340, 85%, 16%, .4);
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
}

