
main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sellingImg {
    height: 200px;
}

button {
    margin-left: 10px;
}

#instruments-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

.box {
    border: 1px hsla(55, 26%, 18%, 1) solid;
    background-color: hsla(190, 7%, 49%, .5);
    margin: 20px;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
    color: hsla(181, 28%, 70%, 1);
}

.banner {
    color:burlywood;
    font-size: 50px
    
}

.main-section {
    display: flex;
    justify-content: right;
    text-align: right;
    border: 3px cornsilk solid;

}

table {
    border:1px black solid;
    margin: 1px;
    text-align: center;
}

th {
    background-color: darkgray;
}

